wsdl/wsdl5000/5000serviziMutazione.wsdl

<?xml version="1.0" encoding="UTF-8"?> 
<wsdl:definitions targetNamespace="http://sogei.it/ANPR/5000AnprService"
				  xmlns:tns="http://sogei.it/ANPR/5000AnprService" 
				  xmlns:schema="http://sogei.it/ANPR/5000mutazione" 
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema">  
	
	<wsdl:types> 
		<xsd:schema targetNamespace="http://sogei.it/ANPR/5000AnprService">    
			<xsd:import namespace="http://sogei.it/ANPR/5000mutazione" schemaLocation="5000mutazione.xsd" />  
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="Richiesta5001">
		<wsdl:part name="request" element="schema:Richiesta5001"/>  
	</wsdl:message>
	<wsdl:message name="Risposta5001">  
		<wsdl:part name="response" element="schema:Risposta5001"/>  
	</wsdl:message>
	<wsdl:message name="Richiesta5005">  
		<wsdl:part name="request" element="schema:Richiesta5005"/>  
	</wsdl:message>
	<wsdl:message name="Risposta5005">  
		<wsdl:part name="response" element="schema:Risposta5005"/>  
	</wsdl:message>
	<wsdl:message name="Richiesta5007">  
		<wsdl:part name="request" element="schema:Richiesta5007"/>  
	</wsdl:message>
	<wsdl:message name="Risposta5007">  
		<wsdl:part name="response" element="schema:Risposta5007"/>  
	</wsdl:message>	
	<wsdl:message name="Richiesta5008">  
		<wsdl:part name="request" element="schema:Richiesta5008"/>  
	</wsdl:message>
	<wsdl:message name="Risposta5008">  
		<wsdl:part name="response" element="schema:Risposta5008"/>  
	</wsdl:message>
	<wsdl:message name="Richiesta5009">  
		<wsdl:part name="request" element="schema:Richiesta5009"/>  
	</wsdl:message>
	<wsdl:message name="Risposta5009">  
		<wsdl:part name="response" element="schema:Risposta5009"/>  
	</wsdl:message>
	<wsdl:message name="Richiesta5012">  
		<wsdl:part name="request" element="schema:Richiesta5012"/>  
	</wsdl:message>
	<wsdl:message name="Richiesta5013">  
		<wsdl:part name="request" element="schema:Richiesta5013"/>  
	</wsdl:message>
	
	<wsdl:message name="Risposta5012">  
		<wsdl:part name="response" element="schema:Risposta5012"/>  
	</wsdl:message>		
	
	<wsdl:message name="Risposta5013">  
		<wsdl:part name="response" element="schema:Risposta5013"/>  
	</wsdl:message>		
	
	<wsdl:portType name="AnprPortType5000">  
		<wsdl:operation name="mutazione_famiglia_convivenza">    
			<wsdl:input   message="tns:Richiesta5001"/>    
			<wsdl:output  message="tns:Risposta5001" />  
		</wsdl:operation>
		<wsdl:operation name="mutazione_residenza">    
			<wsdl:input   message="tns:Richiesta5005"/>    
			<wsdl:output  message="tns:Risposta5005" />  
		</wsdl:operation>
		<wsdl:operation name="annullamento_revoca_ci">    
			<wsdl:input   message="tns:Richiesta5007"/>    
			<wsdl:output  message="tns:Risposta5007" />  
		</wsdl:operation>						
		<wsdl:operation name="mutazione_scheda">    
			<wsdl:input   message="tns:Richiesta5008"/>    
			<wsdl:output  message="tns:Risposta5008" />  
		</wsdl:operation>	
		<wsdl:operation name="mutazione_di_rettifica_dati_AE">    
			<wsdl:input   message="tns:Richiesta5009"/>    
			<wsdl:output  message="tns:Risposta5009" />  
		</wsdl:operation>		
		<wsdl:operation name="annullamento_mutazione">    
			<wsdl:input   message="tns:Richiesta5012"/>    
			<wsdl:output  message="tns:Risposta5012" />  
		</wsdl:operation>		
		
		<wsdl:operation name="revoca_dato">    
			<wsdl:input   message="tns:Richiesta5013"/>    
			<wsdl:output  message="tns:Risposta5013" />  
		</wsdl:operation>	
	</wsdl:portType>
	
	
	
	<wsdl:binding name="AnprBinding5000" type="tns:AnprPortType5000">    
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>    
		<wsdl:operation name="mutazione_famiglia_convivenza">      
			<wsdlsoap:operation soapAction=""/>      
			<wsdl:input>        
				<wsdlsoap:body use="literal"/>      
			</wsdl:input>      
			<wsdl:output>        
				<wsdlsoap:body use="literal"/>      
			</wsdl:output>   
		</wsdl:operation>  
		<wsdl:operation name="mutazione_residenza">      
			<wsdlsoap:operation soapAction=""/>      
			<wsdl:input>        
				<wsdlsoap:body use="literal"/>      
			</wsdl:input>      
			<wsdl:output>        
				<wsdlsoap:body use="literal"/>      
			</wsdl:output>   
		</wsdl:operation>
		<wsdl:operation name="annullamento_revoca_ci">      
			<wsdlsoap:operation soapAction=""/>      
			<wsdl:input>        
				<wsdlsoap:body use="literal"/>      
			</wsdl:input>      
			<wsdl:output>        
				<wsdlsoap:body use="literal"/>      
			</wsdl:output>   
		</wsdl:operation> 			 			  
		<wsdl:operation name="mutazione_scheda">      
			<wsdlsoap:operation soapAction=""/>      
			<wsdl:input>        
				<wsdlsoap:body use="literal"/>      
			</wsdl:input>      
			<wsdl:output>        
				<wsdlsoap:body use="literal"/>      
			</wsdl:output>   
		</wsdl:operation> 	
		<wsdl:operation name="mutazione_di_rettifica_dati_AE">      
			<wsdlsoap:operation soapAction=""/>      
			<wsdl:input>        
				<wsdlsoap:body use="literal"/>      
			</wsdl:input>      
			<wsdl:output>        
				<wsdlsoap:body use="literal"/>      
			</wsdl:output>   
		</wsdl:operation>		
		<wsdl:operation name="annullamento_mutazione">      
			<wsdlsoap:operation soapAction=""/>      
			<wsdl:input>        
				<wsdlsoap:body use="literal"/>      
			</wsdl:input>      
			<wsdl:output>        
				<wsdlsoap:body use="literal"/>      
			</wsdl:output>   
		</wsdl:operation> 	
		<wsdl:operation name="revoca_dato">      
			<wsdlsoap:operation soapAction=""/>      
			<wsdl:input>        
				<wsdlsoap:body use="literal"/>      
			</wsdl:input>      
			<wsdl:output>        
				<wsdlsoap:body use="literal"/>      
			</wsdl:output>   
		</wsdl:operation> 		
	</wsdl:binding>  
	
	<wsdl:service name="AnprService5000">    
		<wsdl:port binding="tns:AnprBinding5000" name="AnprServicePort5000">      
			<wsdlsoap:address location="http://www.sogei.it/Interno/ANPR/AnprService5000"/>    
		</wsdl:port>  
	</wsdl:service>
	
</wsdl:definitions>