wsdl/wsdl5000/5000mutazione.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://sogei.it/ANPR/5000mutazione" 
		   targetNamespace="http://sogei.it/ANPR/5000mutazione" 
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		   xmlns:anpr="http://sogei.it/ANPR/vocabolario5000mutazione"
		   xmlns:risp="http://sogei.it/ANPR/rispostaComune" 
		   elementFormDefault="unqualified" 
		   attributeFormDefault="unqualified">
 
<xs:import namespace="http://sogei.it/ANPR/vocabolario5000mutazione"  schemaLocation="vocabolario5000mutazione.xsd"/>
<xs:import namespace="http://sogei.it/ANPR/rispostaComune"  		    schemaLocation="rispostaComune.xsd"/>	

<!-- ######################################################## USATO IN + MESSAGGI DI RISPOSTA ######################################################## -->

<!-- rispostaKO -->
<xs:element name="rispostaKO">
	<xs:complexType>
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					rispostaKO
				</xs:documentation>
			</xs:annotation>	
			<xs:element name="testataRisposta" 	        type="anpr:tipoTestataRisposta" minOccurs="1" maxOccurs="1" />	
			<xs:element name="listaErrori" 		        type="anpr:tipoListaErrori" 	minOccurs="1" maxOccurs="1"/>    						
		</xs:sequence>
	</xs:complexType>
</xs:element>
<!-- fine rispostaKO -->

<!-- ######################################################## USATO IN + MESSAGGI DI RISPOSTA ######################################################## -->

 
<!-- servizio 5001 -->
<xs:element name="Richiesta5001">      
	<xs:complexType>    
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					Richiesta di mutazione famiglia
				</xs:documentation>
			</xs:annotation>			
			<xs:element name="testataRichiesta"   			type="anpr:tipoTestataRichiesta" 			minOccurs="1" maxOccurs="1"/>    						
			<xs:element name="famigliaConvivenza"  	  		type="anpr:tipoFamigliaConvivenza" 			minOccurs="1" maxOccurs="1"/>					
			<xs:element name="elencoSoggettiFamiglia" 		type="anpr:tipoSoggettoFamiglia" 			minOccurs="0" maxOccurs="unbounded"/>				
			<xs:element name="residenzaFamigliaConvivenza" 	type="anpr:tipoResidenza" 					minOccurs="0" maxOccurs="1"/>			
			<xs:element name="datiDelProcedimento"	    	type="anpr:tipoDatiProcedimento" 			minOccurs="0" maxOccurs="1"/>			
			<xs:element name="datiControllo"       			type="anpr:tipoDatiControllo5001"      		minOccurs="1" maxOccurs="1"/>				 
	</xs:sequence>  
</xs:complexType>
</xs:element>

<xs:element name="Risposta5001">  
	<xs:complexType>    
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					Risposta di mutazione famiglia
				</xs:documentation>
			</xs:annotation>		
			<xs:choice>
				<xs:element ref="risp:Risposta_Comune" 	minOccurs="0" maxOccurs="1"/>	
				<xs:element ref="rispostaKO" 	 		minOccurs="0" maxOccurs="1"/>
			</xs:choice>	
		</xs:sequence>
	</xs:complexType>
</xs:element>
<!-- fine servizio 5001 -->

<!-- servizio 5005 -->
<xs:element name="Richiesta5005">      
	<xs:complexType>    
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					Richiesta di mutazione residenza
				</xs:documentation>
			</xs:annotation>			
			<xs:element name="testataRichiesta" 		type="anpr:tipoTestataRichiesta"				minOccurs="1" maxOccurs="1"/>  
			<xs:element name="generalitaSchedaFamiglia" type="anpr:tipoFamigliaConvivenza" 	 		 	minOccurs="1" maxOccurs="1"/>  			
			<xs:element name="residenzaFamiglia"  		type="anpr:tipoResidenza" 					    minOccurs="0" maxOccurs="unbounded"/> 
			<xs:element name="elencoSoggettiFamiglia" 	type="anpr:tipoSoggettoFamiglia" 				minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="datiDelProcedimento"	    type="anpr:tipoDatiProcedimento" 				minOccurs="0" maxOccurs="1"/>
			<xs:element name="datiControllo"  		    type="anpr:tipoDatiControllo5005"				minOccurs="1" maxOccurs="1"/>
		</xs:sequence>  
</xs:complexType>
</xs:element>

<xs:element name="Risposta5005">  
	<xs:complexType>    
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					Risposta di mutazione residenza
				</xs:documentation>
			</xs:annotation>		
			<xs:choice>
				<xs:element ref="risp:Risposta_Comune" 	minOccurs="0" maxOccurs="1"/>	
				<xs:element ref="rispostaKO" 	 		minOccurs="0" maxOccurs="1"/>
			</xs:choice>	
		</xs:sequence>
	</xs:complexType>
</xs:element>

<!-- fine servizio 5005 -->

<!-- servizio 5008 -->
<xs:element name="Richiesta5008">      
	<xs:complexType>    
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					Richiesta di mutazione dati generali stato civile
				</xs:documentation>
			</xs:annotation>
			<xs:element name="testataRichiesta"
				type="anpr:tipoTestataRichiesta" minOccurs="1" maxOccurs="1" />
			<xs:element name="generalitaPerRicerca"
				type="anpr:tipoGeneralita" minOccurs="1" maxOccurs="1" />
			<xs:element name="generalitaDaModificare"
				type="anpr:tipoGeneralitaPerModifica" minOccurs="0" maxOccurs="1" />
			<xs:element name="statoCivile" type="anpr:tipoStatoCivile"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="attoNascita" type="anpr:tipoAttoNascita"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="paternita" type="anpr:tipoGenitore"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="maternita" type="anpr:tipoGenitore"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="cittadinanza" type="anpr:tipoCittadinanza"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="matrimonio" type="anpr:tipoMatrimonio"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="vedovanza" type="anpr:tipoVedovanza"
				minOccurs="0" maxOccurs="1" />
			<xs:element
				name="separazioneAnnullamentoCessazioneMatrimonio"
				type="anpr:tipoAnnullamentoMatrimonio" minOccurs="0" maxOccurs="1" />
			<xs:element name="convivenzaDiFatto"
				type="anpr:tipoConvivenzaDiFatto" minOccurs="0" maxOccurs="1">
			</xs:element>

			<xs:element name="unioneCivile" type="anpr:tipoUnioneCivile"
				minOccurs="0" maxOccurs="1">
			</xs:element>

			<xs:element name="cartaIdentita"
				type="anpr:tipoCartaIdentita" minOccurs="0" maxOccurs="1" />
			<xs:element name="permessoSoggiorno"
				type="anpr:tipoPermessoSoggiorno" minOccurs="0" maxOccurs="1" />
			<xs:element name="liste" type="anpr:tipoListe" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="censimento" type="anpr:tipoCensimento"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="altriDati" type="anpr:tipoAltriDati"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="autoVeicoli" type="anpr:tipoAutoveicoli"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="domicilioDigitale"
				type="anpr:tipoDomicilioDigitale5008" minOccurs="0" maxOccurs="1" />
			<xs:element name="datiDelProcedimento"
				type="anpr:tipoDatiProcedimento" minOccurs="0" maxOccurs="1" />
			<xs:element name="datiControllo"
				type="anpr:tipoDatiControllo5008" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="Risposta5008">  
	<xs:complexType>    
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					Risposta di mutazione dati generali stato civile
				</xs:documentation>
			</xs:annotation>		
			<xs:choice>
				<xs:element ref="risp:Risposta_Comune" 	minOccurs="0" maxOccurs="1"/>	
				<xs:element ref="rispostaKO" 	 		minOccurs="0" maxOccurs="1"/>
			</xs:choice>	
		</xs:sequence>
	</xs:complexType>
</xs:element>
<!-- fine servizio 5008 -->

<!-- servizio 5009 -->
<xs:element name="Richiesta5009">      
	<xs:complexType>    
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					Richiesta di rettifica dati AE
				</xs:documentation>
			</xs:annotation>			
			<xs:element name="testataRichiesta"  							type="anpr:tipoTestataRichiesta" 		    minOccurs="1" maxOccurs="1"/>
			<xs:element name="generalitaDatiAE"       						type="anpr:tipoGeneralita"   				minOccurs="1" maxOccurs="1"/>			
			<xs:element name="generalitaDatiComune"     					type="anpr:tipoGeneralita"	 			    minOccurs="1" maxOccurs="1"/>							
		</xs:sequence>  
</xs:complexType>
</xs:element>

<xs:element name="Risposta5009">  
	<xs:complexType>    
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					Risposta di rettifica dati AE
				</xs:documentation>
			</xs:annotation>		
			<xs:choice>
				<xs:element ref="risp:Risposta_Comune" 	minOccurs="0" maxOccurs="1"/>	
				<xs:element ref="rispostaKO" 	 		minOccurs="0" maxOccurs="1"/>
			</xs:choice>	
		</xs:sequence>
	</xs:complexType>
</xs:element>
<!-- fine servizio 5009 -->

<!-- servizio 5012 -->
<xs:element name="Richiesta5012">      
	<xs:complexType>    
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					Richiesta annullamento mutazione scheda
				</xs:documentation>
			</xs:annotation>			
			<xs:element name="testataRichiesta"			    		type="anpr:tipoTestataRichiesta"		minOccurs="1" maxOccurs="1"/>  
			<xs:element name="datiOperazioneDaAnnullare"    		type="anpr:tipoDatiOperazione"     		minOccurs="1" maxOccurs="1"/>			
			<xs:element name="datiSchedaSoggettoFamigliaConvivenza" type="anpr:tipoDatiRicercaScheda" 		minOccurs="1" maxOccurs="1"/>
			<xs:element name="datiControllo"       					type="anpr:tipoDatiControllo5012"      	minOccurs="1" maxOccurs="1"/>			
	</xs:sequence>  
</xs:complexType>
</xs:element>

<xs:element name="Risposta5012">  
	<xs:complexType>    
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					Risposta annullamento mutazione scheda
				</xs:documentation>
			</xs:annotation>		
			<xs:choice>
				<xs:element ref="risp:Risposta_Comune" 	minOccurs="0" maxOccurs="1"/>	
				<xs:element ref="rispostaKO" 	 		minOccurs="0" maxOccurs="1"/>
			</xs:choice>	
		</xs:sequence>
	</xs:complexType>
</xs:element>
<!-- fine servizio 5012 -->

<!-- servizio 5007 -->
<!--
	Task 11733:5007 - annullamento/revoca carta identità (xsd) 
 -->
<xs:element name="Richiesta5007">      
	<xs:complexType>    
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					Richiesta annullamento/revoca carta identita
				</xs:documentation>
			</xs:annotation>
			<xs:element name="testataRichiesta"
				type="anpr:tipoTestataRichiesta" minOccurs="1" maxOccurs="1" />

			<xs:element name="generalitaPerRicerca"
				type="anpr:tipoGeneralita" maxOccurs="1" minOccurs="1">
			</xs:element>
			<xs:element name="datiCartaIdentita"
				type="anpr:tipoCartaIdentita" maxOccurs="1" minOccurs="1">
			</xs:element>
			<xs:element name="datiControllo" type="anpr:tipoDatiControllo5007" maxOccurs="1" minOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="Risposta5007">  
	<xs:complexType>    
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					Risposta annullamento/revoca carta identita
				</xs:documentation>
			</xs:annotation>		
			<xs:choice>
				<xs:element ref="risp:Risposta_Comune" 	minOccurs="0" maxOccurs="1"/>	
				<xs:element ref="rispostaKO" 	 		minOccurs="0" maxOccurs="1"/>
			</xs:choice>	
		</xs:sequence>
	</xs:complexType>
</xs:element>
<!-- fine servizio 5007 -->


<!-- servizio 5013 -->
<xs:element name="Richiesta5013">      
	<xs:complexType>    
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					Richiesta di annullamento oggetto
				</xs:documentation>
			</xs:annotation>
			<xs:element name="testataRichiesta"
				type="anpr:tipoTestataRichiesta" minOccurs="1" maxOccurs="1" />
		    
		    <xs:choice>
				<xs:element name="schedaSoggetto" type="anpr:tipoSchedaSoggetto" minOccurs="0" maxOccurs="1" />
				<xs:element name="famigliaConvivenza" type="anpr:tipoFamigliaConvivenza" minOccurs="0" maxOccurs="1"/>
			</xs:choice>	
			

			<xs:element name="motivoAnnullamento"
				type="anpr:tipoRevocaDato" minOccurs="1" maxOccurs="1">
			</xs:element>

			<xs:element name="datiControllo" type="anpr:tipoDatiControllo5013" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="Risposta5013">  
	<xs:complexType>    
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					Risposta servizio di annullamento oggetto
				</xs:documentation>
			</xs:annotation>		
			<xs:choice>
				<xs:element ref="risp:Risposta_Comune" 	minOccurs="0" maxOccurs="1"/>	
				<xs:element ref="rispostaKO" 	 		minOccurs="0" maxOccurs="1"/>
			</xs:choice>	
		</xs:sequence>
	</xs:complexType>
</xs:element>
<!-- fine servizio 5013 -->


</xs:schema>
