wsdl/wsdl4000/4000serviziEstrazione.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sogei.it/ANPR/4000AnprService" xmlns:schema="http://sogei.it/ANPR/4000estrazione" xmlns:tns="http://sogei.it/ANPR/4000AnprService" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">  
	
	<wsdl:types> 
		<xsd:schema targetNamespace="http://sogei.it/ANPR/4000AnprService">    
			<xsd:import namespace="http://sogei.it/ANPR/4000estrazione" schemaLocation="4000estrazione.xsd"/>  
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="Richiesta4001">
		<wsdl:part element="schema:Richiesta4001" name="request"/>  
	</wsdl:message>
	<wsdl:message name="Risposta4001">  
		<wsdl:part element="schema:Risposta4001" name="response"/>  
	</wsdl:message>
	 <wsdl:message name="Richiesta4002">  
		<wsdl:part element="schema:Richiesta4002" name="request"/>  
	</wsdl:message>
	<wsdl:message name="Risposta4002">  
		<wsdl:part element="schema:Risposta4002" name="response"/>  
	</wsdl:message>
	<wsdl:message name="Richiesta4003">  
		<wsdl:part element="schema:Richiesta4003" name="request"/>  
	</wsdl:message>
	<wsdl:message name="Risposta4003">  
		<wsdl:part element="schema:Risposta4003" name="response"/>  
	</wsdl:message>
	
	
	<wsdl:portType name="AnprPortType4000">  
		<wsdl:operation name="estrazione_dati_cittadini">    
			<wsdl:input message="tns:Richiesta4001"/>    
			<wsdl:output message="tns:Risposta4001"/>  
		</wsdl:operation>
		<wsdl:operation name="rivestimento_cf">    
			<wsdl:input message="tns:Richiesta4002"/>    
			<wsdl:output message="tns:Risposta4002"/>  
		</wsdl:operation>
		<wsdl:operation name="supporto_rilevazioni_statistiche">    
			<wsdl:input message="tns:Richiesta4003"/>    
			<wsdl:output message="tns:Risposta4003"/>  
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="AnprBinding4000" type="tns:AnprPortType4000">    
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>    
		<wsdl:operation name="estrazione_dati_cittadini">      
			<wsdlsoap:operation soapAction=""/>      
			<wsdl:input>        
				<wsdlsoap:body use="literal"/>      
			</wsdl:input>      
			<wsdl:output>        
				<wsdlsoap:body use="literal"/>      
			</wsdl:output>   
		</wsdl:operation>  
		<wsdl:operation name="rivestimento_cf">      
			<wsdlsoap:operation soapAction=""/>      
			<wsdl:input>        
				<wsdlsoap:body use="literal"/>      
			</wsdl:input>      
			<wsdl:output>        
				<wsdlsoap:body use="literal"/>      
			</wsdl:output>   
		</wsdl:operation>  
		<wsdl:operation name="supporto_rilevazioni_statistiche">      
			<wsdlsoap:operation soapAction=""/>      
			<wsdl:input>        
				<wsdlsoap:body use="literal"/>      
			</wsdl:input>      
			<wsdl:output>        
				<wsdlsoap:body use="literal"/>      
			</wsdl:output>   
		</wsdl:operation>
	</wsdl:binding>  
	
	<wsdl:service name="AnprService4000">    
		<wsdl:port binding="tns:AnprBinding4000" name="AnprServicePort4000">      
			<wsdlsoap:address location="http://www.sogei.it/Interno/ANPR/AnprService4000"/>    
		</wsdl:port>  
	</wsdl:service>
	
</wsdl:definitions>