wsdl/wsdl1000/1000iscrizione.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://sogei.it/ANPR/1000iscrizione" 
		   targetNamespace="http://sogei.it/ANPR/1000iscrizione" 
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		   xmlns:anpr="http://sogei.it/ANPR/vocabolario1000iscrizione"
		   xmlns:risp="http://sogei.it/ANPR/rispostaComune" 
		   elementFormDefault="unqualified" 
		   attributeFormDefault="unqualified"> 

	 <xs:import namespace="http://sogei.it/ANPR/vocabolario1000iscrizione"  schemaLocation="vocabolario1000iscrizione.xsd"/>	
	 <xs:import namespace="http://sogei.it/ANPR/rispostaComune"  schemaLocation="rispostaComune.xsd"/>	
	 
<!-- ######################################################## USATO IN + MESSAGGI DI RISPOSTA ######################################################## -->

<!-- rispostaKO -->
<xs:element name="rispostaKO">
	<xs:complexType>
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					rispostaKO
				</xs:documentation>
			</xs:annotation>	
			<xs:element name="testataRisposta" 	        type="anpr:tipoTestataRisposta" minOccurs="1" maxOccurs="1" />	
			<xs:element name="listaErrori" 		        type="anpr:tipoListaErrori" 	minOccurs="1" maxOccurs="1"/>   						
		</xs:sequence>
	</xs:complexType>
</xs:element>

<!-- fine rispostaKO -->

<!-- ######################################################## USATO IN + MESSAGGI DI RISPOSTA ######################################################## -->
	 

	<!-- servizio 1001 -->
	<xs:element name="Richiesta1001">      
		<xs:complexType>    
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>
						Richiesta di iscrizione per nascita
					</xs:documentation>
				</xs:annotation>
				<xs:element name="testataRichiesta" 	type="anpr:tipoTestataRichiesta" 	 		minOccurs="1" maxOccurs="1" />			
				<xs:element name="generalita1001" 		type="anpr:tipoGeneralitaIscrizione1001"	minOccurs="1" maxOccurs="1"/>    			
				<xs:element name="attoNascita" 			type="anpr:tipoAttoNascita"   				minOccurs="0" maxOccurs="1"/>
				<xs:element name="cittadinanza" 		type="anpr:tipoCittadinanza" 		 		minOccurs="1" maxOccurs="1"/>			
				<xs:element name="paternita" 			type="anpr:tipoGenitore" 					minOccurs="0" maxOccurs="1"/> 												
				<xs:element name="maternita" 			type="anpr:tipoGenitore" 					minOccurs="0" maxOccurs="1"/>
				<xs:element name="famConv"	 			type="anpr:tipoFamigliaConvivenza" 	 		minOccurs="0" maxOccurs="1"/>
				<xs:element name="legameSoggetto" 	    type="anpr:tipoLegameSoggetto"	     		minOccurs="0" maxOccurs="1"/> 
				<xs:element name="datiDelProcedimento" 	type="anpr:tipoDatiProcedimento"  			minOccurs="0" maxOccurs="1"/> 
				<xs:element name="datiControllo" 		type="anpr:tipoDatiControllo1001" 	 		minOccurs="1" maxOccurs="1"/> 
			</xs:sequence>  
		</xs:complexType>
	</xs:element>

	 <xs:element name="Risposta1001">  
		<xs:complexType>    
			<xs:sequence>
				<xs:annotation>			
					<xs:documentation>
						Risposta di iscrizione per nascita
					</xs:documentation>
				</xs:annotation>
					<xs:choice>
						<xs:element ref="risp:Risposta_Comune" 	     minOccurs="0" maxOccurs="1" />
						<xs:element ref="rispostaKO" 				 minOccurs="0" maxOccurs="1"/> 	
						<xs:element ref="RispostaMultipla1001" 		 minOccurs="0" maxOccurs="1"/>
					</xs:choice>			
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="RispostaMultipla1001">
		<xs:complexType >
			<xs:annotation>
					<xs:documentation>
						RispostaMultipla1001
					</xs:documentation>
				</xs:annotation>	
			<xs:sequence>
				<xs:element name="testataRisposta" 	        type="anpr:tipoTestataRisposta" minOccurs="1" maxOccurs="1" />	
				<xs:element name="elencoSoggettiPadre" 		type="anpr:tipoElencoGenitori" 	minOccurs="0" maxOccurs="1"/>    						
				<xs:element name="elencoSoggettiMadre" 		type="anpr:tipoElencoGenitori" 	minOccurs="0" maxOccurs="1"/>
			 </xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- fine servizio 1001 -->

	<!-- servizio 1002 -->
	<xs:element name="Richiesta1002">      
			<xs:complexType>    
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>
							Richiesta di iscrizione per: esistenza
							giudizialmente dichiarata, persone
							cancellate per irreperibilita, trasferimento
							di residenza da altro comune, trasferimento
							di domicilio(senza fissa dimora), iscrizione
							per altri motivi
						</xs:documentation>
					</xs:annotation>
					<xs:element name="testataRichiesta"
						type="anpr:tipoTestataRichiesta" minOccurs="1" maxOccurs="1" />
					<xs:element name="motivoIscrizione"
						type="anpr:tipoMotivoIscrizione1002" minOccurs="1" maxOccurs="1" />
					<xs:element name="generalita1002"
						type="anpr:tipoGeneralitaIscrAltriMot1002" minOccurs="1"
						maxOccurs="1" />
					<xs:element name="altriDati"
						type="anpr:tipoAltriDati" minOccurs="0" maxOccurs="1" />
					<xs:element name="attoNascita"
						type="anpr:tipoAttoNascita" minOccurs="0" maxOccurs="1" />
					<!-- <xs:element name="attoNascita" 			                        type="anpr:tipoAttoNascita" 				  	minOccurs="1" maxOccurs="1"/> -->
					<xs:element name="cittadinanza"
						type="anpr:tipoCittadinanza" minOccurs="1" maxOccurs="unbounded" />
					<xs:element name="paternita"
						type="anpr:tipoGenitore" minOccurs="0" maxOccurs="1" />
					<xs:element name="maternita"
						type="anpr:tipoGenitore" minOccurs="0" maxOccurs="1" />
					<xs:element name="provenienza"
						type="anpr:tipoProvenienza" minOccurs="0" maxOccurs="1" />
					<xs:element name="residenza"
						type="anpr:tipoResidenza" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="famiglia"
						type="anpr:tipoFamiglia1002" minOccurs="0" maxOccurs="1" />
					<xs:element name="convivenza"
						type="anpr:tipoConvivenza1002" minOccurs="0" maxOccurs="1" />
					<xs:element name="matrimonio"
						type="anpr:tipoMatrimonio" minOccurs="0" maxOccurs="1" />
					<xs:element name="vedovanza"
						type="anpr:tipoVedovanza" minOccurs="0" maxOccurs="1" />
					<xs:element
						name="separazioneAnnullamentoCessazioneMatrimonio"
						type="anpr:tipoAnnullamentoMatrimonio" minOccurs="0"
						maxOccurs="1" />
					<xs:element name="convivenzaDiFatto"
						type="anpr:tipoConvivenzaDiFatto" minOccurs="0" maxOccurs="1">
					</xs:element>
					<xs:element name="unioneCivile" type="anpr:tipoUnioneCivile" minOccurs="0" maxOccurs="1"></xs:element>
					<xs:element name="cartaIdentita"
						type="anpr:tipoCartaIdentita" minOccurs="0" maxOccurs="1" />
					<xs:element name="permessoSoggiorno"
						type="anpr:tipoPermessoSoggiorno" minOccurs="0" maxOccurs="1" />
					<xs:element name="listaLeva"
						type="anpr:tipoListaLeva" minOccurs="0" maxOccurs="1" />
					<xs:element name="listaElettorale"
						type="anpr:tipoListaElettorale" minOccurs="0" maxOccurs="1" />
					<xs:element name="censimento"
						type="anpr:tipoCensimento" minOccurs="0" maxOccurs="1" />
					<xs:element name="autoveicoli"
						type="anpr:tipoAutoveicoli" minOccurs="0" maxOccurs="1" />
					<xs:element name="domicilioDigitale"
						type="anpr:tipoDomicilioDigitale" minOccurs="0" maxOccurs="1" />
					<xs:element name="datiDelProcedimento"
						type="anpr:tipoDatiProcedimento" minOccurs="0" maxOccurs="1" />
					<xs:element name="datiSentenza"
						type="anpr:tipoSentenza" minOccurs="0" maxOccurs="1" />
					<xs:element name="datiControllo"
						type="anpr:tipoDatiControllo1002" minOccurs="1" maxOccurs="1" />
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		
	<xs:element name="Risposta1002">  
		<xs:complexType>    
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>
						Risposta di iscrizione per:
						esistenza giudizialmente dichiarata,
						persone cancellate per irreperibilita,
						trasferimento di residenza da altro comune,
						trasferimento di domicilio(senza fissa dimora),
						iscrizione per altri motivi	
					</xs:documentation>
				</xs:annotation>
				
				<xs:choice>
					<xs:element ref="risp:Risposta_Comune" 	minOccurs="0" maxOccurs="1" />
					<xs:element ref="rispostaKO" 		    minOccurs="0" maxOccurs="1"/>	
					<xs:element ref="RispostaMultipla1002" 	minOccurs="0" maxOccurs="1"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

		
	<xs:element name="RispostaMultipla1002">	
		<xs:complexType >    
			<xs:annotation>
				<xs:documentation>
					RispostaMultipla1002
				</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="testataRisposta" 			type="anpr:tipoTestataRisposta" 		minOccurs="1" maxOccurs="1"/>	
				<xs:element name="elencoSoggettiPadre" 		type="anpr:tipoElencoGenitori" 		    minOccurs="0" maxOccurs="1"/>    						
				<xs:element name="elencoSoggettiMadre" 		type="anpr:tipoElencoGenitori" 			minOccurs="0" maxOccurs="1"/>
				<xs:element name="elencoMatrimoni" 			type="anpr:tipoElencoMatrimoni" 	    minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- fine servizio 1002 -->
	
	<!-- servizio 1010 -->
	<xs:element name="Richiesta1010">      
			<xs:complexType>    
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>
							Richiesta di iscrizione scheda convivenza
						</xs:documentation>
					</xs:annotation>
					<xs:element name="testataRichiesta"   		     				type="anpr:tipoTestataRichiesta" 	  	   		minOccurs="1" maxOccurs="1"/>			
					<xs:element name="generalitaSchedaConvivenza" 		  			type="anpr:tipoFamigliaConvivenza" 				minOccurs="1" maxOccurs="1"/>
					<xs:element name="tutoreIntestatario" 		  					type="anpr:tipoTutoreIntestatario"              minOccurs="1" maxOccurs="1"/>	
					<xs:element name="residenzaConvivneza" 		  					type="anpr:tipoResidenza"   					minOccurs="1" maxOccurs="1"/>
					<xs:element name="datiDelProcedimento"							type="anpr:tipoDatiProcedimento"		   		minOccurs="0" maxOccurs="1"/>
					<xs:element name="datiControllo"			  					type="anpr:tipoDatiControllo1010"			    minOccurs="1" maxOccurs="1"/>
				</xs:sequence>  
			</xs:complexType>
		</xs:element>
		
	<xs:element name="Risposta1010">  
		<xs:complexType>    
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>
						Risposta di iscrizione scheda convivenza
					</xs:documentation>
				</xs:annotation>
				<xs:choice>
					<xs:element ref="risp:Risposta_Comune" 	minOccurs="0" maxOccurs="1" />
					<xs:element ref="rispostaKO" 		    minOccurs="0" maxOccurs="1"/>	
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- servizio 1013 -->
		<xs:element name="Richiesta1013">      
			<xs:complexType>    
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>
							Richiesta di annullamento operazione di iscrizione
						</xs:documentation>
					</xs:annotation>			
					<xs:element name="testataRichiesta"			  				type="anpr:tipoTestataRichiesta"		  minOccurs="1" maxOccurs="1"/>  
					<xs:element name="datiOperazione"             				type="anpr:tipoDatiOperazione" 			  minOccurs="1" maxOccurs="1"/>					
					<xs:element name="datiSchedaSoggettoFamigliaConvivenza"		type="anpr:tipoDatiRicercaScheda" 		  minOccurs="1" maxOccurs="1"/>					
					<xs:element name="datiDelProcedimento" 						type="anpr:tipoDatiProcedimento"		  minOccurs="0" maxOccurs="1"/>					
					<xs:element name="datiControllo"				  			type="anpr:tipoDatiControllo1013" 		  minOccurs="1" maxOccurs="1"/>    						
				</xs:sequence>  
			</xs:complexType>
		</xs:element>
		
		<xs:element name="Risposta1013">  
			<xs:complexType>    
				<xs:sequence>
					<xs:annotation>
						<xs:documentation>
							Risposta di annullamento operazione di iscrizione
						</xs:documentation>
					</xs:annotation>
					<xs:choice>
						<xs:element ref="risp:Risposta_Comune" 	minOccurs="0" maxOccurs="1"/>	
						<xs:element ref="rispostaKO" 	 		minOccurs="0" maxOccurs="1"/>
					</xs:choice>	
				</xs:sequence>
			</xs:complexType>
		</xs:element>

	<!-- fine servizio 1013 -->

	<!-- servizio 1014 -->
	<xs:element name="Richiesta1014">      
		<xs:complexType>    
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>
						Procedimenti
					</xs:documentation>
				</xs:annotation>			
				<xs:element name="testataRichiesta"			  		type="anpr:tipoTestataRichiesta"			  minOccurs="1" maxOccurs="1"/>
				<xs:element name="procedimentoIstruttoria"			type="anpr:tipoDatiProcedimentoIstruttoria"	  minOccurs="1" maxOccurs="1"/>				
				<xs:element name="generalitaPerRicerca"				type="anpr:tipoGeneralita"	 				  minOccurs="0" maxOccurs="1"/>				
				<!--<xs:element name="attoNascita"			 	 		type="anpr:tipoAttoNascita"		  		      minOccurs="0" maxOccurs="1"/> -->	
				<!--<xs:element name="cittadinanza"			  			type="anpr:tipoCittadinanza"		  		  minOccurs="0" maxOccurs="1"/>	-->				
				<!--<xs:element name="paternita"			  		    type="anpr:tipoGenitore"			  		  minOccurs="0" maxOccurs="1"/> -->	
				<!--<xs:element name="maternita"			  			type="anpr:tipoGenitore"			  		  minOccurs="0" maxOccurs="1"/> -->				
				<!--<xs:element name="residenza"			  			type="anpr:tipoResidenza" 					  minOccurs="0" maxOccurs="1"/> -->					
				<!--<xs:element name="famiglia"			  				type="anpr:tipoFamiglia1014"		  		  minOccurs="0" maxOccurs="1"/> -->					
				<!--<xs:element name="convivenza"			  		    type="anpr:tipoConvivenza1014"	  	   	      minOccurs="0" maxOccurs="1"/>	-->				
				<!--<xs:element name="matrimonio"			 	 		type="anpr:tipoMatrimonio"		  			  minOccurs="0" maxOccurs="1"/> -->	
				<!--<xs:element name="vedovanza"			  			type="anpr:tipoVedovanza"		    		  minOccurs="0" maxOccurs="1"/>	-->				
				<!--<xs:element name="annullamentoMatrimonio"			type="anpr:tipoAnnullamentoMatrimonio"		  minOccurs="0" maxOccurs="1"/>	-->			 
				<!--<xs:element name="cartaIdentita"			  		type="anpr:tipoCartaIdentita"		  		  minOccurs="0" maxOccurs="1"/> -->	
				<!--<xs:element name="permessoSoggiorno"				type="anpr:tipoPermessoSoggiorno"			  minOccurs="0" maxOccurs="1"/> -->	
				<!--<xs:element name="listaLeva"			  			type="anpr:tipoListaLeva"		       	      minOccurs="0" maxOccurs="1"/> -->	
				<!--<xs:element name="listaElettorale"					type="anpr:tipoListaElettorale"		   	      minOccurs="0" maxOccurs="1"/>	-->				
				<!--<xs:element name="censimento"			  			type="anpr:tipoCensimento"		  			  minOccurs="0" maxOccurs="1"/> -->	
				<!--<xs:element name="autoveicoli"			  		    type="anpr:tipoAutoveicoli"					  minOccurs="0" maxOccurs="1"/> -->	
				<!--<xs:element name="domicilioDigitale"				type="anpr:tipoDomicilioDigitale"			  minOccurs="0" maxOccurs="1"/> -->	
				<xs:element name="datiControllo"			  		type="anpr:tipoDatiControllo1014"			  minOccurs="0" maxOccurs="1"/>
			</xs:sequence>  
	</xs:complexType>
	</xs:element>
	
	<xs:element name="Risposta1014">      
		<xs:complexType>    
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>
						Procedimenti
					</xs:documentation>
				</xs:annotation>			
				<xs:choice>
					<xs:element ref="risp:Risposta_Comune" 	minOccurs="0" maxOccurs="1"/>	
					<xs:element ref="rispostaKO" 	 		minOccurs="0" maxOccurs="1"/>
				</xs:choice>	
			</xs:sequence>  
	</xs:complexType>
	</xs:element>
	<!-- fine servizio 1014 -->

	

</xs:schema>
