wsdl/wsdl3000/vocabolario3000consultazione.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://sogei.it/ANPR/vocabolario3000consultazione" 
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		   xmlns:tpdt="http://sogei.it/ANPR/tipoDato" 
		   targetNamespace="http://sogei.it/ANPR/vocabolario3000consultazione" 
		   elementFormDefault="unqualified" attributeFormDefault="unqualified">
	
<xs:import namespace="http://sogei.it/ANPR/tipoDato"  schemaLocation="tipoDato.xsd"/>	


<!-- USATO IN TUTTI I MSG DI RICHIESTA -->
<!-- tipoTestataRichiesta -->
	<xs:complexType name="tipoTestataRichiesta">
	  <xs:complexContent>
		<xs:extension base="tpdt:tipoDatoTestataRichiesta" >
		</xs:extension>
	  </xs:complexContent>
	</xs:complexType>
<!-- Fine tipoTestataRichiesta -->	

<!-- FINE USATO IN TUTTI I MSG DI RICHIESTA -->

<!-- USATO IN TUTTI I MSG DI RISPOSTA -->
<!-- tipoTestataRisposta -->
	<xs:complexType name="tipoTestataRisposta">
		<xs:complexContent>
			<xs:extension base="tpdt:tipoDatoTestataRisposta">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
<!-- Fine tipoTestataRisposta -->	
<!-- FINE USATO IN TUTTI I MSG DI RISPOSTA -->

<!-- USATO IN + I MSG DI RICHIESTA -->
<!-- tipoGenitore -->
	<xs:complexType name="tipoGenitore">
		<xs:sequence>
			<xs:element name="generalita" 				   	type="tpdt:tipoGeneralita"	 	        minOccurs="0" maxOccurs="1"/>
			<xs:element name="cittadinanza" 		   		type="tpdt:tipoCittadinanza"            minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
<!-- Fine tipoGenitore -->

<!-- tipoDatiNascita -->
	<xs:complexType name="tipoDatiNascita">
		<xs:complexContent>
			<xs:extension base="tpdt:tipoDatiNascita">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
<!-- Fine tipoDatiNascita-->


<!-- tipoDatiNascita -->
	<xs:complexType name="tipoDatiNascita3000">
		<xs:sequence>
			<xs:element name="dataEvento" 	     type="xs:date" 						 minOccurs="1" maxOccurs="1"/>
            <xs:element name="senzaGiorno"       type="tpdt:tipoSenza" 				     minOccurs="0" maxOccurs="1"/>
            <xs:element name="senzaGiornoMese"   type="tpdt:tipoSenza"  				 minOccurs="0" maxOccurs="1"/>		
			<xs:element name="luogoNascita"  	 type="tpdt:tipoLuogoNascita3000"  		     minOccurs="0" maxOccurs="1"/>
		</xs:sequence>			
	</xs:complexType>
<!-- Fine tipoDatiNascita-->

<!-- tipoComune -->
	<xs:complexType name="tipoComuneRichiesta">
		<xs:complexContent>
			<xs:extension base="tpdt:tipoComuneRichiesta">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
<!-- Fine tipoComune -->

<!-- tipoListaErrori -->
   <xs:complexType name="tipoListaErrori">
     <xs:sequence>
		<xs:element name="errore" type="tpdt:tipoErroriAnomalia" minOccurs="1" maxOccurs="unbounded"/>
	 </xs:sequence>
	</xs:complexType>
<!-- Fine tipoListaErrori -->


<!-- USATO IN + I MSG DI RICHIESTA -->

<!-- ################################################################# Inizio usati in 3001 ###########################################################-->


<!-- tipoDatiControllo3001 -->
	<xs:complexType name="tipoDatiControllo3001">
		<xs:sequence>			
			<xs:element name="pPadre" 				type="tpdt:numerico1" 		minOccurs="1" maxOccurs="1"/>
			<xs:element name="pCodiceFiscalePadre" 	type="tpdt:numerico1" 		minOccurs="1" maxOccurs="1"/>
			<xs:element name="pCognomePadre"  		type="tpdt:numerico1" 		minOccurs="0" maxOccurs="1"/>
			<xs:element name="pMadre" 				type="tpdt:numerico1" 		minOccurs="1" maxOccurs="1"/>
			<xs:element name="pCognomeMadre"  		type="tpdt:numerico1" 		minOccurs="1" maxOccurs="1"/>
			<xs:element name="pCodiceFiscaleMadre" 	type="tpdt:numerico1" 		minOccurs="1" maxOccurs="1"/>										
		</xs:sequence>	
	</xs:complexType>
<!-- Fine tipoDatiControllo3001 -->
<!-- tipoGenitoreRispostaMultipla3001 -->
	<xs:complexType name="tipoGenitore3000">
		<xs:sequence>
			<xs:element name="genitore" 	type="tpdt:tipoGenitore"				minOccurs="1" maxOccurs="1"/>
			<xs:element name="residenza"    type="tpdt:tipoResidenza"               minOccurs="0" maxOccurs="1"/>
			<xs:element name="famiglia" 	type="tpdt:tipoFamigliaConvivenza" 	    minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
<!-- Fine tipoGenitoreRispostaMultipla3001 -->

<!-- ################################################################# Fine usati in 3001 ###########################################################-->
 
 
 <!-- ################################################################# Inizio usati in 3002 ###########################################################-->
 
<!-- tipoCriteriRicerca -->
<xs:complexType name="tipoCriteriRicerca">
	<xs:sequence>
		<xs:element name="codiceFiscale" 				type="tpdt:tipoDominioCodiceFiscale" 		minOccurs="0" maxOccurs="1"/>
		<xs:element name="cognome" 		 				type="tpdt:alfabeticoNomiCognomi" 			minOccurs="0" maxOccurs="1"/>
		<xs:element name="senzaCognome" 		   		type="tpdt:tipoSenza"                  		minOccurs="0" maxOccurs="1"/>
		<xs:element name="nome" 		 				type="tpdt:alfabeticoNomiCognomi" 			minOccurs="0" maxOccurs="1"/>
		<xs:element name="senzaNome" 		 	   		type="tpdt:tipoSenza"                  		minOccurs="0" maxOccurs="1"/>
		<xs:element name="sesso" 		 				type="tpdt:tipoSesso" 			 			minOccurs="0" maxOccurs="1"/>
		<xs:element name="soggettoAIRE" 		 		type="tpdt:tipoSN1" 		 		   	 	minOccurs="0" maxOccurs="1"/>		
		<xs:element name="idSchedaSoggettoComune"   	type="tpdt:tipoIdSchedaSoggettoComune"  	minOccurs="0" maxOccurs="1"/>
		<xs:element name="idSchedaSoggettoANPR" 		type="tpdt:numericoMax15"  			 		minOccurs="0" maxOccurs="1"/>
		<xs:element name="tipoScheda"  					type="tpdt:tipoScheda" 		  				minOccurs="0" maxOccurs="1"/>
		<xs:element name="idFamigliaConvivenzaComune"  	type="tpdt:tipoIdFamigliaConvivenzaComune" 	minOccurs="0" maxOccurs="1"/>
		<xs:element name="identificativoANPR"  			type="tpdt:charMax20" 		  				minOccurs="0" maxOccurs="1"/>
		<xs:element name="cartaIdentita3000"  		    type="tpdt:tipoCartaIdentita3000" 			minOccurs="0" maxOccurs="1"/>
		<xs:element name="permessoDiSoggiorno3000"      type="tpdt:tipoPermessoDiSoggiorno3000" 	minOccurs="0" maxOccurs="1"/>
	</xs:sequence>
</xs:complexType>
<!-- Fine tipoCriteriRicerca -->

<!-- tipoResidenzaIscrizioneAIRE -->
<xs:complexType name="tipoResidenzaIscrizioneAIRE">
	<xs:sequence>
		<xs:element name="comune" 					type="tpdt:tipoComune" 				minOccurs="0" maxOccurs="1"/>
		<xs:element name="localita" 				type="tpdt:tipoLocalita" 			minOccurs="0" maxOccurs="1"/>
		<xs:element name="codiceConsolato" 		    type="tpdt:charMax7" 				minOccurs="0" maxOccurs="1"/>		
	</xs:sequence>	
</xs:complexType>
<!-- Fine tipoResidenzaIscrizioneAIRE-->

<!-- tipoDatiRichiesta -->
	<xs:complexType name="tipoDatiRichiesta">
		<xs:sequence>
			<xs:element name="schedaAnagraficaRichiesta" type="tpdt:tipoSchedaAnagraficaRichiesta3002" 		minOccurs="1" maxOccurs="1"/>
			<xs:element name="dataRiferimentoRichiesta"  type="xs:date" 									minOccurs="1" maxOccurs="1"/>
			<xs:element name="datiAnagraficiRichiesti"   type="tpdt:tipoDatiRichiesti" 						minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>	
	</xs:complexType>
<!-- Fine tipoDatiRichiesta -->

<!-- tipoListaSoggetti -->
	<xs:complexType name="tipoListaSoggetti">
		 <xs:sequence>
			<xs:element name="datiSoggetto"  type="tpdt:tipoDatiRispostaEstrazioneSoggetti" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
<!-- fine tipoListaSoggetti -->
<!-- ################################################################# Fine usati in 3002 ###########################################################-->
 
 
<!-- ################################################################# Inizio usati in 3003 ###########################################################-->


<!-- tipoRicercaSingolaRichiesta -->
<xs:complexType name="tipoRicercaSingolaRichiesta">
	<xs:sequence>
		<xs:element name="idOperazioneANPR" 	type="tpdt:numericoMax30" 		minOccurs="0" maxOccurs="1"/>
		<xs:element name="protocolloComune" 	type="tpdt:char20" 		    	minOccurs="0" maxOccurs="1"/>
		<xs:element name="idOperazioneComune" 	type="tpdt:charMax30" 			minOccurs="0" maxOccurs="1"/>		
		<xs:element name="tipoOperazione" 		type="tpdt:tipoOperazione3003" 	minOccurs="1" maxOccurs="1"/>
	</xs:sequence>	
</xs:complexType>
<!-- Fine tipoRicercaSingolaRichiesta -->

<!-- tipoRicercaElenchiRichieste -->
<xs:complexType name="tipoRicercaElenchiRichieste">
	<xs:sequence>
		<xs:element name="statoLavorazione" 				type="tpdt:tipoStatoLavorazione" 		minOccurs="1" maxOccurs="1"/>
		<xs:element name="operazioneRichiesta" 				type="tpdt:charMax4"      				minOccurs="0" maxOccurs="1"/>		
		<xs:element name="periodoRiferimentoRichieste" 		type="tipoPeriodoRiferimento" 			minOccurs="0" maxOccurs="1"/>
		<xs:element name="identificativiANPR" 				type="tipoIdentificativiANPR" 			minOccurs="0" maxOccurs="1"/>
		<xs:element name="identificativiComune" 			type="tipoIdentificativiComune" 		minOccurs="0" maxOccurs="1"/>
		
	</xs:sequence>	
</xs:complexType>
<!-- Fine tipoRicercaElenchiRichieste -->

<!-- tipoPeriodoRiferimento -->
	<xs:complexType name="tipoPeriodoRiferimento">
		<xs:sequence>
			<xs:element name="dataOraIniziale" 	type="xs:dateTime" 				minOccurs="1" maxOccurs="1"/>
			<xs:element name="dataOraFinale" 	type="xs:dateTime" 				minOccurs="1" maxOccurs="1"/>
		</xs:sequence>	
	</xs:complexType>
<!-- Fine tipoPeriodoRiferimento -->

<!-- tipoIdentificativiANPR -->
<xs:complexType name="tipoIdentificativiANPR">
	<xs:sequence>
		<xs:element name="protocolloANPRDa" 	type="tpdt:numericoMax30" 	minOccurs="1" maxOccurs="1"/>
		<xs:element name="protocolloANPRA"  	type="tpdt:numericoMax30" 	minOccurs="1" maxOccurs="1"/>
	</xs:sequence>	
</xs:complexType>
<!-- Fine tipoIdentificativiANPR -->

<!-- tipoIdentificativiComune -->
<xs:complexType name="tipoIdentificativiComune">
	<xs:sequence>
		<xs:element name="protocolloComuneDa" 	type="tpdt:char20" 			minOccurs="0" maxOccurs="1"/>
		<xs:element name="protocolloComuneA"  	type="tpdt:char20" 			minOccurs="0" maxOccurs="1"/>
		<xs:element name="idOperazioneComuneDa" type="tpdt:charMax30" 		minOccurs="0" maxOccurs="1"/>
		<xs:element name="idOperazioneComuneA"  type="tpdt:charMax30" 		minOccurs="0" maxOccurs="1"/>
	</xs:sequence>	
</xs:complexType>
<!-- Fine tipoIdentificativiComune -->

<!-- tipoParametriProcedimenti -->
<xs:complexType name="tipoParametriProcedimenti">
	<xs:sequence>
		<xs:element name="motivoAvvioProcedimento" 		type="tpdt:tipoMotiviAvviiIstruttoriaAIRE" 		minOccurs="0" maxOccurs="1"/>
		<xs:element name="statoProcedimento"  			type="tpdt:tipoStatoIstruttoria" 				minOccurs="0" maxOccurs="1"/>
		<xs:element name="esitoChiusura" 				type="tpdt:char1" 								minOccurs="0" maxOccurs="1"/>
		<xs:element name="dateChiusura" 				type="tipoProcedimentiInScadenza" 				minOccurs="0" maxOccurs="1"/>
	</xs:sequence>	
</xs:complexType>
<!-- Fine tipoParametriProcedimenti -->

<!-- tipoProcedimentiInScadenza -->
	<xs:complexType name="tipoProcedimentiInScadenza">
		<xs:sequence>
			<xs:element name="dataChiusuraIniziale"			 	type="xs:dateTime" 					minOccurs="1" maxOccurs="1"/>
			<xs:element name="dataChiusuraFinale" 				type="xs:dateTime" 					minOccurs="1" maxOccurs="1"/>
		</xs:sequence>	
	</xs:complexType>
<!-- Fine tipoProcedimentiInScadenza -->

<!-- tipoParametriRicercaSoggetto -->
	<xs:complexType name="tipoParametriRicercaSoggetto">
		<xs:sequence>
			<xs:element name="datiSoggetto" 					type="tipoDatiSoggetto" 			minOccurs="0" maxOccurs="1"/>			
		</xs:sequence>	
	</xs:complexType>
<!-- Fine tipoParametriRicercaSoggetto -->

<!-- tipoDatiSoggetto -->
	<xs:complexType name="tipoDatiSoggetto">
		<xs:sequence>
			<xs:element name="codiceFiscale" 					type="tpdt:tipoDominioCodiceFiscale" 		minOccurs="0" maxOccurs="1"/>
			<xs:element name="cognome" 							type="tpdt:alfabeticoNomiCognomi" 			minOccurs="0" maxOccurs="1"/>
			<xs:element name="nome" 							type="tpdt:alfabeticoNomiCognomi" 			minOccurs="0" maxOccurs="1"/>
			<xs:element name="datiNascitaSoggetto" 				type="tipoDatiNascita3003" 				    minOccurs="0" maxOccurs="1"/>
		</xs:sequence>	
	</xs:complexType>
<!-- Fine tipoDatiSoggetto -->

<!-- tipodatiRisposta3003 -->
<xs:complexType name="tipoDatiNascita3003">
	<xs:sequence>
		<xs:element name="dataEvento"     			type="xs:date" 	        			minOccurs="1" maxOccurs="1"/>		
		<xs:element name="luogoNascita"  	    	type="tpdt:tipoLuogoNascita3000" 	minOccurs="0" maxOccurs="1"/>
	</xs:sequence>	
</xs:complexType>
<!-- Fine tipodatiRisposta3003 -->


<!-- tipodatiRisposta3003 -->
<xs:complexType name="tipodatiRisposta3003">
	<xs:sequence>
		<xs:element name="statoLavorazione"     	type="tpdt:numericoMax2" 	        		minOccurs="0" maxOccurs="1"/>
		<xs:element name="tipoOperazione"  	    	type="tpdt:tipoOperazioneRichiesta" 	minOccurs="0" maxOccurs="1"/>
		<xs:element name="xmlRisposta" 		        type="xs:base64Binary" 	        		minOccurs="0" maxOccurs="1"/>
	</xs:sequence>	
</xs:complexType>
<!-- Fine tipodatiRisposta3003 -->


<!-- ################################################################# Fine usati in 3003 ###########################################################-->
 

<!-- ################################################################# Inizio usati in 3005 ###########################################################--> 
<!-- tipoDatiRichiesta3005 -->
	<xs:complexType name="tipoDatiRichiesta3005">
		<xs:sequence>
			<xs:element name="idOperazioneANPR" 	type="tpdt:charMax30" 	minOccurs="1" maxOccurs="1"/>				
		</xs:sequence>
	</xs:complexType>
<!-- Fine tipoDatiRichiesta3005 -->
<!-- tipofile3005 -->
	<xs:complexType name="tipofile3005">
		<xs:sequence>
			<xs:element name="xmlFile" 		type="xs:base64Binary" 	minOccurs="0" maxOccurs="1"/>				
		</xs:sequence>
	</xs:complexType>
<!-- Fine tipofile3005 -->

<!-- ################################################################# Inizio usati in 3006 ###########################################################-->
 
<!-- tipoCriteriRicerca3006 -->
<xs:complexType name="tipoCriteriRicerca3006">
	<xs:sequence>
		<xs:element name="codiceFiscale" 				type="tpdt:tipoDominioCodiceFiscale" 	minOccurs="0" maxOccurs="1"/>
		<xs:element name="cognome" 		 				type="tpdt:alfabeticoNomiCognomi" 		minOccurs="0" maxOccurs="1"/>
		<xs:element name="senzaCognome" 		   		type="tpdt:tipoSenza"                  	minOccurs="0" maxOccurs="1"/>
		<xs:element name="nome" 		 				type="tpdt:alfabeticoNomiCognomi" 		minOccurs="0" maxOccurs="1"/>
		<xs:element name="senzaNome" 		 	   		type="tpdt:tipoSenza"                  	minOccurs="0" maxOccurs="1"/>
		<xs:element name="sesso" 		 				type="tpdt:tipoSesso" 					minOccurs="0" maxOccurs="1"/>
		<xs:element name="soggettoAIRE" 		 		type="tpdt:tipoSN1" 		 			minOccurs="0" maxOccurs="1"/>		
		<xs:element name="idSchedaSoggettoANPR" 		type="tpdt:numericoMax15"  				minOccurs="0" maxOccurs="1"/>
		<xs:element name="tipoScheda"  					type="tpdt:tipoScheda" 		  			minOccurs="0" maxOccurs="1"/>
		<xs:element name="identificativoANPR"  			type="tpdt:charMax20" 		  			minOccurs="0" maxOccurs="1"/>
	</xs:sequence>
</xs:complexType>
<!-- Fine tipoCriteriRicerca3006 -->


<!-- tipoDatiRichiesta3006 -->
	<xs:complexType name="tipoDatiRichiesta3006">
		<xs:sequence>
			<xs:element name="schedaAnagraficaRichiesta" type="tpdt:tipoSchedaAnagraficaRichiesta3002" 	minOccurs="1" maxOccurs="1"/>
			<xs:element name="dataRiferimentoRichiesta"  type="xs:date" 								minOccurs="1" maxOccurs="1"/>
			<xs:element name="motivoRichiesta"           type="tpdt:charMax240" 				        minOccurs="1" maxOccurs="1"/>
		</xs:sequence>	
	</xs:complexType>
<!-- Fine tipoDatiRichiesta3006 -->


<!-- tipoListaSoggetti3006 -->
	<xs:complexType name="tipoListaSoggetti3006">
		 <xs:sequence>
			<xs:element name="datiSoggetto"  type="tpdt:tipoDatiRispostaInterrCittadinoEnte" 	minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
<!-- fine tipoListaSoggetti3006 -->

<!-- ################################################################# Fine usati in 3006 ###########################################################-->
 
<!-- ################################################################# Inizio usati in 3007 ###########################################################--> 
<!-- tipodatiRisposta3007 -->
<xs:complexType name="tipoListaOperazioniANPR3007">
	<xs:sequence>
		<xs:element name="operazioneANPR"     	type="tipoOperazioneANPR3007" 	        		minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>	
</xs:complexType>

<xs:complexType name="tipoOperazioneANPR3007">
	<xs:sequence>
		<xs:element name="statoLavorazione"     	type="tpdt:numericoMax2" 	        	minOccurs="0" maxOccurs="1"/>
		<xs:element name="tipoOperazione"  	    	type="tpdt:tipoOperazioneRichiesta" 	minOccurs="0" maxOccurs="1"/>
		<xs:element name="idOperazioneANPR"     	type="tpdt:numericoMax30"   		    minOccurs="1" maxOccurs="1"/>
	</xs:sequence>	
</xs:complexType>

<!-- Fine tipodatiRisposta3007 -->
<!-- ################################################################# Fine usati in 3007 ###########################################################-->
</xs:schema>